<!DOCTYPE html>
<html lang="ru">
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/route.css" />

  <body>
    <%- include("./partials/header") %>
    <main>
      <div class="route">
        <% if (routes.photo) { %>
        <div class="route-photo">
          <img
            style="width: 100%; height: auto"
            src="/uploads/<%= routes.photo %>"
            alt="<%= routes.name %>"
          />
        </div>
        <% } %>
        <div class="route-info">
          <h1><%= routes.name %></h1>
          <p class="rating">
            <span>Рейтинг: </span><%= averageRating.toFixed(2) %>
          </p>
          <p><%= routes.description %></p>
          <div class="full-description">
            <p><%- formattedDescriptionFull %></p>
          </div>
          <% if (routes.externalLink) { %> <% } %> <% if (typeof user !==
          'undefined' && user.role === 'admin') { %>
          <div class="admin-buttons">
            <form method="GET" action="/editRoute/<%= routes.id %>">
              <button type="submit" class="editButton">Редактировать</button>
            </form>
            <form
              method="POST"
              action="/deleteRoute/<%= routes.id %>"
              onsubmit="return confirmDelete()"
            >
              <button type="submit" class="deleteButton">Удалить</button>
            </form>
          </div>
          <% } %>
          <div class="route-map">
            <% if (routes.iframeCode) { %>
            <div class="iframe-container">
              <iframe
                class="styled-map"
                src="<%= routes.iframeCode %>"
                width="640"
                height="480"
              ></iframe>
              <div class="iframe-overlay"></div>
            </div>
            <% } %>
          </div>
          <div class="share">
            <h3>Хотите поделиться впечатлениями о этом маршруте?</h3>
            <button
              onclick="window.location.href='/reviews/reviewsRoutes?routeId=<%= routes.id %>';"
            >
              Оставить комментарий
            </button>
          </div>
        </div>
      </div>

      <div class="reviews">
        <h3>Отзывы:</h3>
        <% if (reviews.length === 0) { %>
        <p style="text-align: center; color: #b3b3b3; font-size: 20px">
          Отзывов пока нет
        </p>
        <% } else { %> <% reviews.forEach(function(review) { %>
        <div class="review-details">
          <div class="review-info">
            <h4><span>Пользователь:</span> <%= review.User.name %></h4>
            <p><span>Оценка: </span><%= review.rating %></p>
            <p><span>Комментарий: </span><%= review.message %></p>
            <% if (typeof user !== 'undefined' && user.role === 'admin') { %>
            <form
              method="POST"
              action="/reviews/deleteRoute/routes/<%= review.id %>"
              style="display: inline"
            >
              <button
                type="submit"
                class="delete-button"
                title="Удалить комментарий"
              >
                <i class="bi bi-trash"></i>
              </button>
            </form>
            <% } %>
          </div>
          <div class="review-photos">
            <% review.ReviewRoutePhotos.forEach(function(photo) { %>
            <img
              src="/uploads/<%= photo.path %>"
              alt="Фото отзыва"
              style="margin: 10px"
            />
            <% }); %>
          </div>
        </div>
        <% }); %> <% } %>
      </div>
    </main>
    <%- include("./partials/footer") %> <%- include("./partials/script") %>
    <script>
      function confirmDelete() {
        return confirm("Вы уверены, что хотите удалить маршрут?");
      }

      document.addEventListener("DOMContentLoaded", function () {
        const iframeOverlay = document.querySelector(".iframe-overlay");
        const iframeContainer = document.querySelector(".iframe-container");

        function enableMapInteraction() {
          iframeOverlay.style.display = "none";
        }

        function disableMapInteraction() {
          iframeOverlay.style.display = "block";
        }

        iframeOverlay.addEventListener("click", function () {
          enableMapInteraction();
        });

        iframeContainer.addEventListener("mouseleave", function () {
          disableMapInteraction();
        });

        iframeOverlay.addEventListener("wheel", function (e) {
          e.stopPropagation();
        });
      });
    </script>
  </body>
</html>
